
AutoAdLabelScroll.xcodeproj/project.xcworkspace/xcuserdata/manuqiao.xcuserdatad/UserInterfaceState.xcuserstate

AutoAdLabelScroll.xcodeproj/xcuserdata/manuqiao.xcuserdatad/xcschemes/AutoAdLabelScroll.xcscheme

AutoAdLabelScroll.xcodeproj/xcuserdata/manuqiao.xcuserdatad/xcschemes/xcschememanagement.plist
